.quick_add_to_cart {
    bottom: 0;
    right: 0;
    z-index: 5;
    opacity: 0.9;
}

#contentCart .js_delete_product {
   display:none;
}

#contenCart .td-product_name span {
   display:none !important;
}

.input-group-append .btn, .input-group-prepend .btn {
	background: #fff;
	border: none;
	color: #299d9b;
	padding: 0;
	box-shadow: none;
	width: 100%;
}